.subNav {
  background: #fff;
  border-bottom: 1px solid #dcdcde;
  height: 43px
}
.subNav li {
  text-align: center;
  height: 43px;
  line-height: 43px;
  font-size: 12px;
  border-right: 1px solid #dcdcde;
  width: 33%;
  float: left
}
.subNav li.last {
  border: none
}
.subNav li a {
  width: 100%;
  height: 43px;
  display: block
}
.subNav li span {
  text-align: center;
  padding: 0 0 0 16px;
  color: #299af4
}
.subNav li .a1 {
  background: url(https://xdg999-1256062680.file.myqcloud.com/xdg999/images/87c01ec7gy1fr0dzqi98vj200u00kmwx.jpg ) no-repeat left;
  background-size: 15px 10px
}
.subNav li .a2 {
  background: url(https://xdg999-1256062680.file.myqcloud.com/xdg999/images/87c01ec7gy1fr0dzb89xcj200m00o3y9.jpg ) no-repeat left;
  background-size: 11px 12px
}
.subNav li .a3 {
  background: url(https://xdg999-1256062680.file.myqcloud.com/xdg999/images/87c01ec7gy1fr0dyeiq0gj200m00r3y9.jpg ) no-repeat left;
  background-size: 11px 14px
}
.subNav li .a4 {
  background: url(https://xdg999-1256062680.file.myqcloud.com/xdg999/images/87c01ec7gy1fr0dq0lllxj200q00qgld.jpg ) no-repeat left;
  background-size: 13px 13px
}
.subNav li .a5 {
  background: url(https://xdg999-1256062680.file.myqcloud.com/xdg999/images/87c01ec7gy1fr0dqmm79lj200u00umwx.jpg ) no-repeat left;
  background-size: 13px 12px
}
.subNav li .a6 {
  background: url(https://xdg999-1256062680.file.myqcloud.com/xdg999/images/87c01ec7gy1fr0dr4xh5tj200q00qgld.jpg ) no-repeat left;
  background-size: 13px 13px
}
.subNav li .a7 {
  background: url(../images/icon_07.png) no-repeat left;
  background-size: 14px 14px
}
.subNav li .a8 {
  background: url(../images/icon_08.png) no-repeat left;
  background-size: 14px 12px
}
.subNav li .a9 {
  background: url(../images/icon_09.png) no-repeat left;
  background-size: 13px 12px
}
.subNav li .a10 {
  background: url(../images/shuaxin.png) no-repeat left;
  background-size: 15px 14px
}
.subNav li .a11 {
  background: url(../images/xiayj.png) no-repeat left;
  background-size: 15px 15px
}
